.activity-filters {
    grid-template-rows: auto 1fr;
    gap: 25px;
    margin-bottom: 28px;

    .btn-container {
        display: grid;
        gap: 20px;
    }

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
    }

    .filters-container {
        display: grid;
        grid-template-columns: auto;
        justify-items: start;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 20px 10px;
        height: 100%;
        background: var(--checklist-container-bg-color);
        border: .3px solid var(--activities-border-color);
        border-radius: 1px;
        overflow-x: hidden;
        overflow-y: scroll;

        .filter {

            input:checked ~ .checkmark {
                background-color: var(--checkmark-bg-color);
            }
    
            .checkmark {
                background-color: var(--list-checkbox-bg-color);
            }

            .name {
                display: flex;
                flex-direction: row-reverse;
                gap: 5px;

                label {
                    padding-left: 30px;
                }
            }
        }
    }

}