.activity-suggestions {
    grid-template-rows: auto 1fr;
    gap: 25px;
    margin-bottom: 28px;

    .btn-container {
        display: grid;
        gap: 20px;
    }

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
    }

    .activities-container {
        height: 100%;
        width: 292px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        background: var(--list-container-bg-color);
        border: .3px solid var(--activities-border-color);
        border-radius: 1px;
        gap: 25px;
        padding: 5px 10px;
        overflow-y: scroll;
        overflow-x: hidden;

        .row {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto;
            gap: 5px;

            div:first-child {
                display: grid;
                grid-template-columns: auto auto;
                justify-content: space-between;
            }

            .title {
                font-size: 1.3em;
                font-weight: 400;
            }

            .description {
                font-size: .8em;
            }

            .more-btn-container {
                background: var(--btn-bg-color);
                color: var(--btn-color);
                text-shadow: var(--text-shadow);
                padding: 5px 10px;
                cursor: pointer;
                user-select: none;
            }
        }
    }

}