.new-activity-simple {
    grid-template-rows: auto auto auto 60px;
    align-items: end;

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
    }

    .form {
        display: grid;
        width: 90%;
        gap: 10px;

        .row {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr auto;
            align-items: center;

            .counter {
                display: grid;
                grid-template-columns: auto auto auto;
                
                .decrease {
                    border-left: 1px;
                    border-right: 0;
                    border-top: 1px;
                    border-bottom: 1px;
                    border-style: solid;
                    border-color: black;
                    padding: 0px 15px;
                    display: grid;
                    align-items: center;
                    border-radius: 4px 0 0 4px;
                    user-select: none;
                    background: var(--btn-bg-color);

                    &:hover {
                        background: var(--btn-hover-color);
                        cursor: pointer;
                    }
                }

                .amount {
                    border: 1px solid black;
                    text-align: center;
                    width: 60px;
                    height: 25px;
                }

                .increase {
                    border-left: 0;
                    border-right: 1px;
                    border-top: 1px;
                    border-bottom: 1px;
                    border-style: solid;
                    border-color: black;
                    padding: 0px 15px;
                    display: grid;
                    align-items: center;
                    border-radius: 0 4px 4px 0;
                    user-select: none;
                    background: var(--btn-bg-color);

                    &:hover {
                        background: var(--btn-hover-color);
                        cursor: pointer;
                    }
                }
            }
        }

        .reset-row {
            display: flex;
            justify-content: end;
        }

        .gender-row {
            display: grid;
            grid-template-rows: auto auto;
            grid-template-columns: auto;

            .gender-title {
                font-size: .8em;
            }
        }

        .gender-input-row {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            justify-content: space-between;

            .male-col {
                display: flex;
                gap: 5px;
            }

            .female-col {
                display: flex;
                gap: 5px;
            }
        }

        .reset {
            font-size: .7em;
            cursor: pointer;
            text-align: right;
        }
    }
}