.container {
    position: relative;
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 20px;
    margin-top: $container-margin-top;
    margin-bottom: $container-margin-bottom;

    .btn-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        width: 100%;

        .btn {
            width: 135px;
        }
    }

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
    }

    .search {
        width: 100%;
    }

    .list-container {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: .3px solid rgb(118, 118, 118);
        border-radius: 1px;
        overflow-y: scroll;

        .list-item {
            margin-bottom: 20px;
            width: 100%;
            justify-items: center;
            display: grid;
            gap: 20px;
            grid-template-columns: 30px 1fr 30px;
            background: $btn-bg-color;

            div {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            svg {
                font-size: 15px;
                cursor: pointer;
            }

            .delete-btn span{
                cursor: pointer;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
}

.new-activity {
    grid-template-rows: auto auto auto 1fr auto;
}

.new-activity-members {
    grid-template-rows: auto 1fr auto;
}

.administer {
    grid-template-rows: auto auto auto 1fr;
}