.edit-filters {
    grid-template-rows: auto 1fr;
    gap: 25px;
    max-height: 537px;
    margin-bottom: 0;
    height: 100%;

    .btn-container {
        display: grid;
        gap: 20px;
    }

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
    }

    .filters-container {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-between;
        justify-items: start;
        gap: 20px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 0 20px 10px;
        height: 94%;
        background: var(--list-container-bg-color);
        border: .3px solid var(--activities-border-color);
        border-radius: 1px;
        overflow-x: hidden;
        overflow-y: scroll;

        .filter {

            .name {
                display: flex;
                flex-direction: row-reverse;
                font-size: 1em;

                label {
                    padding-left: 30px;
                }
            }
        }
    }

}