body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    background: $main-bg-color;
    font-family: 'Nunito', sans-serif;
}

#app {
    position: relative;
    margin: 4vh 0 0 0;
    width: 375px;
    height: 612px;
    display: grid;
    border: 1px solid black;
    border-radius: 5px;
}

.wrapper {
    width: 100%;
    display: grid;
    justify-content: center;
}

.logo {
    background: url('../img/aktivo-logo.png');
    width: 292px;
    height: 89px;
}

.btn {
    font-weight: bold;
    background: $btn-bg-color;
    color: rgb(0, 0, 0);
    border: .3px solid rgb(118, 118, 118);
    border-radius: 1px;
    padding: 8px 0;
    cursor: pointer;
    user-select: none;

    &:hover {
        background: $btn-bg-hover-color;
    }
}

input[type="text"], input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    height: 22.5px;
}

.input-field {
    position: relative;
    height: 20px;
    padding: 10px 0 20px 0;

    span {
        height: 22.5px;
    }

    .errorMsg {
        position: absolute;
        top: 15px;
        right: 0;
        font-weight: normal;
        font-size: 12px;
        color: red;
    }
}

.input-error {
    border-color: rgb(255, 0, 0);
}

.password-error {
    border-color: yellow;
}

.password-success {
    border-color: green;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}