.list-page {
    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;
        margin-top: 20px;
    }
    .top-element {
        margin-top: 0;
    }
    .sub-title {
        margin: 16px 0 6px 0;
        font-size: 18px;
    }

    .search {
        width: 100%;
        margin-top: 20px;
    }

    .btn-container {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        width: 100%;
        margin-top: 20px;

        .btn {
            width: 135px;
            margin-top: 0;
        }
    }
}

.new-activity {
    grid-template-rows: auto auto auto auto 1fr auto;
}

.new-activity-members {
    grid-template-rows: auto auto 1fr auto;

    .sub-title {
        margin-top: 20px;
    }
}

.administer {
    grid-template-rows: auto auto auto 1fr;

    .list-container {
        margin-top: 20px;
    }
}

.new-group {
    grid-template-rows: auto auto auto auto 1fr auto;
}

.edit-group {
    grid-template-rows: auto auto auto 1fr auto;
}

.new-person {
    grid-template-rows: auto auto 1fr auto auto;

    input {
        margin-top: 20px;
    }

    .age-groups-container {
        margin-top: 20px;
        position: relative;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        justify-items: end;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: auto;
        padding: 0 10px;

        .filter {

            .name {
                display: flex;
                gap: 5px;
            }
        }

    }

    .gender-parent {

        .gender-input-row {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            width: 100%;

            .male-col {
                display: flex;
                gap: 5px;
            }

            .female-col {
                display: flex;
                gap: 5px;
            }
        }
    }

}