.login {
    margin-top: 40px !important;
    
    h6 {
        font-size: 1em;
        margin: 20px 0;
        padding: 0; 
        width: 60%;
        line-height: 1.45em;
        text-align: center;
    }

    .form {
        width: 80%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    
        div {
            margin: 0 0 20px 0;
            width: 100%;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    
        span {
            font-weight: bold;
        }
    
        .show-password {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: auto auto;
            justify-content: start;
        }
    
        .submit {
            margin: 20px auto 0 auto;
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    
        .register-btn {
            margin-top: 50px;
            font-size: .7em;
        }
    
        .btn {
            width: 70%;
            padding: 8px 20px;
            border: none;
        }
    
    }
}