.profile {
    grid-template-rows: 48px auto;

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;

        &:hover {
            font-weight: bold;
        }

        i {
            font-weight: 400;
        }

    }

    .form {
        display: grid;
        margin-top: 15px;

        div {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
        }
    
        span {
            font-weight: bold;
        }

        .submit {
            padding-top: 20px;
        }

        .input-field {
            padding: 20px 0;

            .errorMsg {
                top: 25px;
            }
        }
    }

}