.profile {
    grid-template-rows: 48px auto;

    .btn {
        padding: 8px 0;
        border: none;
        font-size: 18px;
        text-align: center;
        width: 292px;

        &:hover {
            font-weight: bold;
        }

        i {
            font-weight: 400;
        }

    }

    .form {
        display: grid;
        justify-items: center;
        justify-content: center;
        gap: 15px;
        margin-top: 15px;

        .item {
            display: grid;
            width: 100%;
        }
    }

}