.register-container {
    display: grid;
    justify-content: center;
    width: 100%;
}

.register-form {
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;

    div {
        margin: 0 0 20px 0;
        width: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }

    span {
        font-weight: bold;
    }

    .submit {
        margin: 20px auto 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .register-btn {
        margin-top: 50px;
        font-size: .7em;
    }

    .btn {
        width: 70%;
        padding: 8px 20px;
        border: none;
    }

    .login-text {
        text-align: center;
        
        span {
            cursor: pointer;
        }
    }
}