$main-bg-color: #f8f9fa;
$dark-bg-color: #343a40;
$main-text-color: black;
$dark-text-color: white;
$container-margin-top: 75px;
$container-margin-bottom: 60px;
$btn-bg-color: linear-gradient(0deg, #dadada 0%, #d1d1d1 100%);
$btn-bg-hover-color: linear-gradient(0deg, #c2c2c2 0%, #cccccc 100%);
$header-height: 47px;

.theme-light {
    --logout-bg-color: rgb(158, 204, 158);
    --logout-bg-hover-color: rgb(128, 165, 128);
    --logout-font-color: #000;
    --body-font-color: #000;
    --container-font-color: #000;
    --main-body-bg-color: default;
    --main-bg-color: #f8f9fa;
    --btn-color: #000;
    --btn-bg-color: linear-gradient(0deg, #dadada 0%, #d1d1d1 100%);
    --text-shadow: none;
    --filter-drop-shadow: none;
    --btn-hover-color: linear-gradient(0deg, #c2c2c2 0%, #cccccc 100%);
    --header-bg-color: linear-gradient(0deg, #dadada 0%, #d1d1d1 100%);
    --input-bg-color: white;
    --input-border-color: default;
    --main-border-color: rgb(118, 118, 118);
    --list-container-bg-color: white;
    --placeholder-font-color: var(--btn-color);
}

.theme-dark {
    --logout-bg-color: linear-gradient(0deg, rgb(151, 101, 26) 0%, rgb(168, 113, 29) 100%); // rgb(75, 65, 32)
    --logout-bg-hover-color: rgb(42, 37, 18);
    --logout-font-color: #d3d3d3;
    --body-font-color: #d3d3d3;
    --container-font-color: #d3d3d3;
    --main-body-bg-color: #404040;
    --main-bg-color: #1b1b1b;
    --btn-color: #d3d3d3;
    --btn-bg-color: rgb(149, 78, 7);
    --text-shadow: .5px .5px 3px #000000;
    --filter-drop-shadow: drop-shadow(.5px .5px 1px #000);
    --btn-hover-color: #582b00;
    --header-bg-color: var(--btn-bg-color);
    --input-bg-color: #222222;
    --main-border-color: #303030;
    --input-border-color: var(--main-border-color);
    --list-container-bg-color: var(--input-bg-color);
    --placeholder-font-color: #a0a0a0;
}
