$main-bg-color: #f8f9fa;
$dark-bg-color: #343a40;
$main-text-color: black;
$dark-text-color: white;
$main-border-color: rgb(118, 118, 118);
$container-margin-top: 75px;
$container-margin-bottom: 60px;
$btn-bg-color: linear-gradient(0deg, #dadada 0%, #d1d1d1 100%);
$btn-bg-hover-color: linear-gradient(0deg, #c2c2c2 0%, #cccccc 100%);